<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
    <h1>Welcome to Alot-y Jalopy!</h1>
    <h2>Home to the best of the worst!*</h2>
    <h6>All sales final. If you drive it off the lot and the bumper falls off, you have a car in several pieces!</h6>
    <a href='/index/new'>Add a new car</a>
    <br>
    <a href='/index'>See list of cars we have on our lot</a>
  </body>
</html>